:root {
    --yellow: #F0E266;
    --primary: #AE15E4;
    --secondary: #E813C6;
    --strong-bg: #1A1A3E;
    --medium-bg: #1F1F45;
    --low-bg: #222149;
    --light: #FFFFFF;
    --red: #E75353;
    --green: #4DC77E;
    --grey: #959595;
}